*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #e5e5e5;
}

.container {
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    overflow: hidden;
    max-width: 1440px;
}

/* Nav */

.nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eae2b7;
}

.nav_hamburguer {
    width: 30px;
    height: 50%;
    background-image: url(../images/icon-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 100;
    transition: background-image .3s;
}

.nav_hamburguer-open {
    background-image: url(../images/icon-close-menu.svg);
}

.nav_overlay {
    background-color: #000000a7;
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.nav_overlay-show {
    opacity: 1;
    pointer-events: unset;
}

.nav_menu {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #eae2b7;
    width: 65%;
    max-width: 400px;
    list-style: none;
    overflow: auto;
    padding: 70px 0;
}

.nav_item {
    width: 80%;
    margin: 0 auto;
    cursor: pointer;
    padding: 20px 5px;
}

.nav_link {
    text-decoration: none;
    color:#14213d
}

.nav_img {
    height: 75%;
}

/* Main */